@tailwind base;
@tailwind components;
@tailwind utilities;

table {
  width: 100%;
  table-layout: fixed;
}

td,
th {
  padding: 0.5rem;
}

th {
  font-weight: 500;
}

thead tr {
  text-align: left;
  color: rgb(148 163 184);
  border-bottom-width: 1px;
  border-color: rgb(51 65 85);
}
